


  <div class="modal-body row">
      <div class="col-md-12"><h3 style="margin-left:15px">SSK Foundation </h3></div>
          <div class="col-md-12 row" >
              <div class="card" style="width: 18rem;margin-right:10px;margin-left:30px">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  <div class="card-body">
                    <h5 class="card-title">About Organisation</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a [routerLink]="'/aboutus'" class="btn btn-primary">Read more>></a>
                   </div>
                </div>
      
                <div class="card" style="width: 18rem; margin-right:10px;margin-left:10px">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                      <h5 class="card-title">Staff Details</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a  [routerLink]="'/staffdetails'" class="btn btn-primary">Read more>></a>
                    </div>
                  </div>
      
      
                  <div class="card" style="width: 18rem;margin-right:10px;margin-left:10px">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <div class="card-body">
                        <h5 class="card-title">Registration</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a  [routerLink]="'/registration'" class="btn btn-primary">Read more>></a>
                      </div>
                    </div>
      
                    <div class="card" style="width: 18rem; margin-right:10px;margin-left:10px">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Score Card</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a  [routerLink]="'/scorecard'" class="btn btn-primary">Read more>></a>
                        </div>
                      </div>
      
                      <div class="card" style="width: 18rem; margin-top:10px;margin-right:10px;margin-left:30px">
                          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                          <div class="card-body">
                            <h5 class="card-title">Annula Events</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a  [routerLink]="'/annulaevent'" class="btn btn-primary">Read more>></a>
                          </div>
                        </div>
      
                        <div class="card" style="width: 18rem; margin-top:10px;margin-right:10px;margin-left:10px">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                              <h5 class="card-title">School Holidays</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a [routerLink]="'/schoolholidays'" class="btn btn-primary">Read more>></a>
                            </div>
                          </div>
      
                          <div class="card" style="width: 18rem; margin-top:10px;margin-right:10px;margin-left:10px">
                              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                              <div class="card-body">
                                <h5 class="card-title">Social Media</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a [routerLink]="'/socialmedia'" class="btn btn-primary">Read more>></a>
                              </div>
                            </div>
      
                            <div class="card" style="width: 18rem; margin-top:10px;margin-right:10px;margin-left:10px">
                                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                <div class="card-body">
                                  <h5 class="card-title">Contact us</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a  [routerLink]="'/contactus'" class="btn btn-primary">Read more>></a>
                                </div>
                              </div>
                    
          </div>
          </div>
      
          
         