

<div class="card" style="width: 13rem;">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="nav-link active" [routerLink]="'/aboutus'">About Us</a></li>
      <li class="list-group-item"> <a class="nav-link" [routerLink]="'/staffdetails'">Staff Details</a></li>
      <li class="list-group-item"><a class="nav-link" [routerLink]="'/registration'">Registration</a></li>
      <li class="list-group-item"> <a class="nav-link" [routerLink]="'/scorecard'">Score Card</a></li>
      <li class="list-group-item"><a class="nav-link" [routerLink]="'/annulaevent'">Annual Events</a></li>
      <li class="list-group-item"><a class="nav-link" [routerLink]="'/schoolholidays'">School Holidays</a></li>
      <li class="list-group-item"><a class="nav-link" [routerLink]="'/socialmedia'">Social Media</a></li>
      <li class="list-group-item"><a class="nav-link" [routerLink]="'/contactus'">Contact Us</a></li>
    </ul>
  </div>